/* @import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
/* Обнулення */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a {
	color: inherit;
	text-decoration: none;
}
img{
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
}
button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}
html,
body{
	height: 100%;
}
body {
	line-height: 1;

}

/* Шрифт */
/* @font-face {
	font-family: "";
	src: url("../fonts/") format("woff2"), url("../fonts/") format("woff");
	font-display: ;
	font-weight: ;
	font-style: ;
	}
  */

/* -- */
/* transition: all 0.3s ease 0s; */
/* -- */
/* 
.wrapper{
	overflow: hidden;
	min-height: 100%;
	position: relative;

	display: flex;
	flex-direction: column;
}
.wrapper > main{
	flex-grow: 1;
}
 */
body{
font-family: "Lato";
/* пишемо те що саме більше використовується (шрифт,колір) крім звичайних font-size 16px */
color: black;
}

/* ======================= */
.wrapper{
	overflow: hidden;
	min-height: 100%;
	position: relative;

	display: flex;
	flex-direction: column;
}
.wrapper > main{
	flex-grow: 1;
}
/* ====================== */
/* Обмежуючий контейнер */
[class*="__container"]{
	/* +30px тому що padding 15 15 */
	max-width: 1275px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
/* --------------- */
.page {
	background-color: rgb(200, 177, 177);
}
.page__container {
	padding-bottom: 35px;
	padding-top: 25px;
}
.domashka {
}
.domashka__operatory {
	display: flex;

	padding-bottom: 20px;
}
.domashka__image img{
max-width: 100%;

}
.domashka__image{
	margin-right: 20px;
	flex: 0 1 50%;

}
.domashka__list{
	align-self: center;
	flex: 1;
	
}
.domashka__list li{
	margin-bottom: 15px;
}
.domashka__list li span{
	font-weight: 900;
}
.domashka__list li{
	line-height: 150%;
}
.domashka__if-else {
	display: flex;
	padding-bottom: 20px;
}
.domashka__for-while {
	display: flex;

	padding-bottom: 30px;

}
.domashka__nubmers{
	display: flex;
	padding-bottom: 20px;

}
.domashka__string{
	display: flex;

}